In [12]:
import pandas as pd
import numpy as np
import os

In [13]:
#เลือก path
!pwd
!ls
%cd Users/suparvitp/Programming/internshipPlacementSelectionSystem
!ls

/Users/suparvitp/Programming/internshipPlacementSelectionSystem
drugstores.csv
internshipPlacementSelectionSystem_program.ipynb
drugstores.csv
internshipPlacementSelectionSystem_program.ipynb
[Errno 2] No such file or directory: 'Users/suparvitp/Programming/internshipPlacementSelectionSystem'
/Users/suparvitp/Programming/internshipPlacementSelectionSystem
[Errno 2] No such file or directory: 'Users/suparvitp/Programming/internshipPlacementSelectionSystem'
/Users/suparvitp/Programming/internshipPlacementSelectionSystem
drugstores.csv
internshipPlacementSelectionSystem_program.ipynb
drugstores.csv
internshipPlacementSelectionSystem_program.ipynb

In [14]:
file_path = "drugstores.csv"
os.path.exists(file_path)

True

In [15]:
# เรียกไฟล์ csv
try:
    df = pd.read_csv(file_path, skiprows=3)
except FileNotFoundError:
    raise FileNotFoundError(f"CSV not found at '{file_path}'. Tip: check the CWD printed above and adjust the path.")
except Exception as e:
    raise RuntimeError(f"Failed to read CSV at '{file_path}': {e}")

df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,เพศหญิง,เพศชาย,ไม่ระบุเพศ,เพศเดียวกันเท่านั้น ให้ระบุ (/) ในช่อง (หากไม่ระบุเครื่องหมาย / คือ รับฝึกต่างเพศได้),สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน),เพศหญิง.1,เพศชาย.1,ไม่ระบุเพศ.1,เพศเดียวกันเท่านั้น ให้ระบุ (/) ในช่อง (หากไม่ระบุเครื่องหมาย / คือ รับฝึกต่างเพศได้).1,สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน).1
0,ศบส,CEN01,6 สโมสรวัฒนธรรมหญิง,426 ถนนพิษณุโลก แขวงสี่แยกมหานาค เขตดุสิต กรุง...,-,-,/,-,2.0,=,-,/,-,2
1,NaN,CEN02,7 บุญมี ปุรุราชรังสรรค์,663 ถนนสาธุประดิษฐ์(55-57) แขวงบางโพงพาง เขตยา...,-,-,/,-,2.0,-,-,-,-,NaN
2,NaN,CEN03,19 วงศ์สว่าง,NaN,-,/,NaN,-,1.0,-,/,-,-,1
3,NaN,CEN04,20 ป้อมปราบศัตรูพ่าย,245 247 249 ถนนนครสวรรค์ แขวงวัดโสมนัส เขตป้อม...,-,-,NaN,-,NaN,-,-,/,-,2
4,NaN,CEN05,23 สี่พระยา,NaN,-,/,-,-,1.0,-,/,NaN,-,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# เอาแถวล่างที่ว่าง (NaN) ออก
df.dropna(axis=0, how="all", inplace=True)

In [17]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'เพศหญิง',
       'เพศชาย', 'ไม่ระบุเพศ',
       'เพศเดียวกันเท่านั้น ให้ระบุ (/) ในช่อง (หากไม่ระบุเครื่องหมาย / คือ รับฝึกต่างเพศได้)',
       'สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน)', 'เพศหญิง.1', 'เพศชาย.1',
       'ไม่ระบุเพศ.1',
       'เพศเดียวกันเท่านั้น ให้ระบุ (/) ในช่อง (หากไม่ระบุเครื่องหมาย / คือ รับฝึกต่างเพศได้).1',
       'สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน).1'],
      dtype='object')

In [18]:
# คัด columns
df = df[['Unnamed: 1','Unnamed: 2','เพศหญิง','เพศชาย', 'ไม่ระบุเพศ','สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน)', 'เพศหญิง.1', 'เพศชาย.1',
       'ไม่ระบุเพศ.1','สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน).1']]
df

,Unnamed: 1,Unnamed: 2,เพศหญิง,เพศชาย,ไม่ระบุเพศ,สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน),เพศหญิง.1,เพศชาย.1,ไม่ระบุเพศ.1,สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน).1
0,CEN01,6 สโมสรวัฒนธรรมหญิง,-,-,/,2.0,=,-,/,2
1,CEN02,7 บุญมี ปุรุราชรังสรรค์,-,-,/,2.0,-,-,-,NaN
2,CEN03,19 วงศ์สว่าง,-,/,NaN,1.0,-,/,-,1
3,CEN04,20 ป้อมปราบศัตรูพ่าย,-,-,NaN,NaN,-,-,/,2
4,CEN05,23 สี่พระยา,-,/,-,1.0,-,/,NaN,1
...,...,...,...,...,...,...,...,...,...,...
240,FCN93,คาลเท็กซ์ ธัญบุรี-รังสิต (คลอง3),NaN,NaN,NaN,2.0,NaN,NaN,NaN,2
241,FCN94,เดอะพร้อม ดินแดง,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1
242,FCN95,บิ๊กซี กรีนเวลท์ พระราม 2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1
243,FCN96,ศิริราช,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2
244,FCN97,พัทยา,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4

In [19]:
df.rename(columns={
    'Unnamed: 1':'code',
    'Unnamed: 2':'branch',
    'เพศหญิง':'female1',
    'เพศชาย':'male1',
    'ไม่ระบุเพศ':'both1',
    'สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน)':'seat1',
    'เพศหญิง.1':'female2',
    'เพศชาย.1':'male2',
    'ไม่ระบุเพศ.1':'both2',
    'สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน).1':'seat2'
}, inplace=True)
df

/var/folders/qf/ks5pl7h12n145pj927slrc1w0000gn/T/ipykernel_40628/2065595255.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={

,code,branch,female1,male1,both1,seat1,female2,male2,both2,seat2
0,CEN01,6 สโมสรวัฒนธรรมหญิง,-,-,/,2.0,=,-,/,2
1,CEN02,7 บุญมี ปุรุราชรังสรรค์,-,-,/,2.0,-,-,-,NaN
2,CEN03,19 วงศ์สว่าง,-,/,NaN,1.0,-,/,-,1
3,CEN04,20 ป้อมปราบศัตรูพ่าย,-,-,NaN,NaN,-,-,/,2
4,CEN05,23 สี่พระยา,-,/,-,1.0,-,/,NaN,1
...,...,...,...,...,...,...,...,...,...,...
240,FCN93,คาลเท็กซ์ ธัญบุรี-รังสิต (คลอง3),NaN,NaN,NaN,2.0,NaN,NaN,NaN,2
241,FCN94,เดอะพร้อม ดินแดง,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1
242,FCN95,บิ๊กซี กรีนเวลท์ พระราม 2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1
243,FCN96,ศิริราช,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2
244,FCN97,พัทยา,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4

In [20]:
sex_map = {'female1': 'female', 'male1': 'male', 'both1': 'both',
           'female2': 'female', 'male2': 'male', 'both2': 'both'}

df['sex_require1'] = None
for i, row in df.iterrows():
    for col in ['female1', 'male1', 'both1']:
        if row[col] == '/':
            df.at[i, 'sex_require1'] = sex_map[col]
            break

df['sex_require2'] = None
for i, row in df.iterrows():
    for col in ['female2', 'male2', 'both2']:
        if row[col] == '/':
            df.at[i, 'sex_require2'] = sex_map[col]
            break
df[['sex_require1', 'sex_require2']]

/var/folders/qf/ks5pl7h12n145pj927slrc1w0000gn/T/ipykernel_40628/1500183901.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex_require1'] = None
/var/folders/qf/ks5pl7h12n145pj927slrc1w0000gn/T/ipykernel_40628/1500183901.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex_require2'] = None

    sex_require1 sex_require2
0           both         both
1           both         None
2           male         male
3           None         both
4           male         male
..           ...          ...
240         None         None
241         None         None
242         None         None
243         None         None
244         None         None

[245 rows x 2 columns]

In [ ]:
df

KeyError: ('code', 'branch', 'sex_require1', 'seat1', 'sex_require2', 'seat2')

In [22]:
# แก้ sex_require1, sex_require2 เป็น 'both' ถ้า code ขึ้นต้นด้วย 'FCN'
for i, row in df.iterrows():
    if str(row['code']).startswith('FCN'):
        df.at[i, 'sex_require1'] = 'both'
        df.at[i, 'sex_require2'] = 'both'
df

,code,branch,female1,male1,both1,seat1,female2,male2,both2,seat2,sex_require1,sex_require2
0,CEN01,6 สโมสรวัฒนธรรมหญิง,-,-,/,2.0,=,-,/,2,both,both
1,CEN02,7 บุญมี ปุรุราชรังสรรค์,-,-,/,2.0,-,-,-,NaN,both,None
2,CEN03,19 วงศ์สว่าง,-,/,NaN,1.0,-,/,-,1,male,male
3,CEN04,20 ป้อมปราบศัตรูพ่าย,-,-,NaN,NaN,-,-,/,2,None,both
4,CEN05,23 สี่พระยา,-,/,-,1.0,-,/,NaN,1,male,male
...,...,...,...,...,...,...,...,...,...,...,...,...
240,FCN93,คาลเท็กซ์ ธัญบุรี-รังสิต (คลอง3),NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,both,both
241,FCN94,เดอะพร้อม ดินแดง,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1,both,both
242,FCN95,บิ๊กซี กรีนเวลท์ พระราม 2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1,both,both
243,FCN96,ศิริราช,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,both,both
244,FCN97,พัทยา,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4,both,both

In [25]:
df = df[['code','branch','sex_require1','seat1','sex_require2','seat2']]
df

,code,branch,sex_require1,seat1,sex_require2,seat2
0,CEN01,6 สโมสรวัฒนธรรมหญิง,both,2.0,both,2
1,CEN02,7 บุญมี ปุรุราชรังสรรค์,both,2.0,None,NaN
2,CEN03,19 วงศ์สว่าง,male,1.0,male,1
3,CEN04,20 ป้อมปราบศัตรูพ่าย,None,NaN,both,2
4,CEN05,23 สี่พระยา,male,1.0,male,1
...,...,...,...,...,...,...
240,FCN93,คาลเท็กซ์ ธัญบุรี-รังสิต (คลอง3),both,2.0,both,2
241,FCN94,เดอะพร้อม ดินแดง,both,1.0,both,1
242,FCN95,บิ๊กซี กรีนเวลท์ พระราม 2,both,1.0,both,1
243,FCN96,ศิริราช,both,2.0,both,2
244,FCN97,พัทยา,both,4.0,both,4