In [57]:
import pandas as pd
import numpy as np
import os

In [58]:
directory = '/Users/suparvitp/Programming/internshipPlacementSelectionSystem'
os.chdir(directory)

In [59]:
file_path = "drugstores.csv"
os.path.exists(file_path)

True

In [60]:
# เรียกไฟล์ csv
df = pd.read_csv(file_path, skiprows=3)

In [61]:
# เอาแถวล่างที่ว่าง (NaN) ออก
df.dropna(axis=0, how="all", inplace=True)

In [62]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,เพศหญิง,เพศชาย,ไม่ระบุเพศ,เพศเดียวกันเท่านั้น ให้ระบุ (/) ในช่อง (หากไม่ระบุเครื่องหมาย / คือ รับฝึกต่างเพศได้),สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน),เพศหญิง.1,เพศชาย.1,ไม่ระบุเพศ.1,เพศเดียวกันเท่านั้น ให้ระบุ (/) ในช่อง (หากไม่ระบุเครื่องหมาย / คือ รับฝึกต่างเพศได้).1,สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน).1
0,ศบส,CEN01,6 สโมสรวัฒนธรรมหญิง,426 ถนนพิษณุโลก แขวงสี่แยกมหานาค เขตดุสิต กรุง...,-,-,/,-,2.0,=,-,/,-,2
1,NaN,CEN02,7 บุญมี ปุรุราชรังสรรค์,663 ถนนสาธุประดิษฐ์(55-57) แขวงบางโพงพาง เขตยา...,-,-,/,-,2.0,-,-,-,-,NaN
2,NaN,CEN03,19 วงศ์สว่าง,NaN,-,/,NaN,-,1.0,-,/,-,-,1
3,NaN,CEN04,20 ป้อมปราบศัตรูพ่าย,245 247 249 ถนนนครสวรรค์ แขวงวัดโสมนัส เขตป้อม...,-,-,NaN,-,NaN,-,-,/,-,2
4,NaN,CEN05,23 สี่พระยา,NaN,-,/,-,-,1.0,-,/,NaN,-,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,NaN,FCN93,คาลเท็กซ์ ธัญบุรี-รังสิต (คลอง3),30 หมู่ 2 ถ.รังสิต-นครนายก ต.บึงยี่โถ อ.ธัญบ...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2
241,NaN,FCN94,เดอะพร้อม ดินแดง,เลขที่ 4755 ห้องเลขที่ R104 ชั้นที่ 1 ถนนประช...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1
242,NaN,FCN95,บิ๊กซี กรีนเวลท์ พระราม 2,เลขที่ 282 ห้องเลขที่ 115 ถนนพระรามที่ 2 แขวง...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1
243,NaN,FCN96,ศิริราช,171 ถ.พรานนก แขวงศิริราช เขตบางกอกน้อย กรุง...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,2
244,NaN,FCN97,พัทยา,8/154 หมู่ 6 ถ.พัทยาเหนือ ตำบลนาเกลือ อำเภอบาง...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4

In [63]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'เพศหญิง',
       'เพศชาย', 'ไม่ระบุเพศ',
       'เพศเดียวกันเท่านั้น ให้ระบุ (/) ในช่อง (หากไม่ระบุเครื่องหมาย / คือ รับฝึกต่างเพศได้)',
       'สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน)', 'เพศหญิง.1', 'เพศชาย.1',
       'ไม่ระบุเพศ.1',
       'เพศเดียวกันเท่านั้น ให้ระบุ (/) ในช่อง (หากไม่ระบุเครื่องหมาย / คือ รับฝึกต่างเพศได้).1',
       'สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน).1'],
      dtype='object')

In [64]:
# คัด columns
df = df[['Unnamed: 1','Unnamed: 2','Unnamed: 3','เพศหญิง','เพศชาย', 'ไม่ระบุเพศ','สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน)', 'เพศหญิง.1', 'เพศชาย.1',
       'ไม่ระบุเพศ.1','สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน).1']]
df

,Unnamed: 1,Unnamed: 2,Unnamed: 3,เพศหญิง,เพศชาย,ไม่ระบุเพศ,สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน),เพศหญิง.1,เพศชาย.1,ไม่ระบุเพศ.1,สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน).1
0,CEN01,6 สโมสรวัฒนธรรมหญิง,426 ถนนพิษณุโลก แขวงสี่แยกมหานาค เขตดุสิต กรุง...,-,-,/,2.0,=,-,/,2
1,CEN02,7 บุญมี ปุรุราชรังสรรค์,663 ถนนสาธุประดิษฐ์(55-57) แขวงบางโพงพาง เขตยา...,-,-,/,2.0,-,-,-,NaN
2,CEN03,19 วงศ์สว่าง,NaN,-,/,NaN,1.0,-,/,-,1
3,CEN04,20 ป้อมปราบศัตรูพ่าย,245 247 249 ถนนนครสวรรค์ แขวงวัดโสมนัส เขตป้อม...,-,-,NaN,NaN,-,-,/,2
4,CEN05,23 สี่พระยา,NaN,-,/,-,1.0,-,/,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
240,FCN93,คาลเท็กซ์ ธัญบุรี-รังสิต (คลอง3),30 หมู่ 2 ถ.รังสิต-นครนายก ต.บึงยี่โถ อ.ธัญบ...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2
241,FCN94,เดอะพร้อม ดินแดง,เลขที่ 4755 ห้องเลขที่ R104 ชั้นที่ 1 ถนนประช...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1
242,FCN95,บิ๊กซี กรีนเวลท์ พระราม 2,เลขที่ 282 ห้องเลขที่ 115 ถนนพระรามที่ 2 แขวง...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1
243,FCN96,ศิริราช,171 ถ.พรานนก แขวงศิริราช เขตบางกอกน้อย กรุง...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2
244,FCN97,พัทยา,8/154 หมู่ 6 ถ.พัทยาเหนือ ตำบลนาเกลือ อำเภอบาง...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4

In [65]:
df.rename(columns={
    'Unnamed: 1':'code',
    'Unnamed: 2':'branch',
    'Unnamed: 3':'address',
    'เพศหญิง':'female1',
    'เพศชาย':'male1',
    'ไม่ระบุเพศ':'both1',
    'สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน)':'seat1',
    'เพศหญิง.1':'female2',
    'เพศชาย.1':'male2',
    'ไม่ระบุเพศ.1':'both2',
    'สรุปจำนวนที่รับฝึกได้ในผลัดนี้รวม (คน).1':'seat2'
}, inplace=True)
df

/var/folders/qf/ks5pl7h12n145pj927slrc1w0000gn/T/ipykernel_48401/2399680133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={

,code,branch,address,female1,male1,both1,seat1,female2,male2,both2,seat2
0,CEN01,6 สโมสรวัฒนธรรมหญิง,426 ถนนพิษณุโลก แขวงสี่แยกมหานาค เขตดุสิต กรุง...,-,-,/,2.0,=,-,/,2
1,CEN02,7 บุญมี ปุรุราชรังสรรค์,663 ถนนสาธุประดิษฐ์(55-57) แขวงบางโพงพาง เขตยา...,-,-,/,2.0,-,-,-,NaN
2,CEN03,19 วงศ์สว่าง,NaN,-,/,NaN,1.0,-,/,-,1
3,CEN04,20 ป้อมปราบศัตรูพ่าย,245 247 249 ถนนนครสวรรค์ แขวงวัดโสมนัส เขตป้อม...,-,-,NaN,NaN,-,-,/,2
4,CEN05,23 สี่พระยา,NaN,-,/,-,1.0,-,/,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
240,FCN93,คาลเท็กซ์ ธัญบุรี-รังสิต (คลอง3),30 หมู่ 2 ถ.รังสิต-นครนายก ต.บึงยี่โถ อ.ธัญบ...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2
241,FCN94,เดอะพร้อม ดินแดง,เลขที่ 4755 ห้องเลขที่ R104 ชั้นที่ 1 ถนนประช...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1
242,FCN95,บิ๊กซี กรีนเวลท์ พระราม 2,เลขที่ 282 ห้องเลขที่ 115 ถนนพระรามที่ 2 แขวง...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1
243,FCN96,ศิริราช,171 ถ.พรานนก แขวงศิริราช เขตบางกอกน้อย กรุง...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2
244,FCN97,พัทยา,8/154 หมู่ 6 ถ.พัทยาเหนือ ตำบลนาเกลือ อำเภอบาง...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4

In [66]:
sex_map = {'female1': 'female', 'male1': 'male', 'both1': 'both',
           'female2': 'female', 'male2': 'male', 'both2': 'both'}

df['sex_require1'] = None
for i, row in df.iterrows():
    for col in ['female1', 'male1', 'both1']:
        if row[col] == '/':
            df.at[i, 'sex_require1'] = sex_map[col]
            break

df['sex_require2'] = None
for i, row in df.iterrows():
    for col in ['female2', 'male2', 'both2']:
        if row[col] == '/':
            df.at[i, 'sex_require2'] = sex_map[col]
            break
df[['sex_require1', 'sex_require2']]

/var/folders/qf/ks5pl7h12n145pj927slrc1w0000gn/T/ipykernel_48401/1500183901.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex_require1'] = None
/var/folders/qf/ks5pl7h12n145pj927slrc1w0000gn/T/ipykernel_48401/1500183901.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sex_require2'] = None

    sex_require1 sex_require2
0           both         both
1           both         None
2           male         male
3           None         both
4           male         male
..           ...          ...
240         None         None
241         None         None
242         None         None
243         None         None
244         None         None

[245 rows x 2 columns]

In [67]:
# แก้โรงพยาบาลำรวจที่ sex_require เป็น None
for i, row in df.iterrows():
    if str(row['code']).startswith('HPT'):
        df.at[i, 'sex_require1'] = 'both'
        df.at[i, 'sex_require2'] = 'both'
df.iloc[18:22]

,code,branch,address,female1,male1,both1,seat1,female2,male2,both2,seat2,sex_require1,sex_require2
18,HPT01,ห้องยาผู้ป่วยนอก มภร.2,ชั้น 2 อาคารมภร. โรงพยาบาลตำรวจ,NaN,NaN,NaN,5.0,NaN,NaN,NaN,5,both,both
19,HPT02,ห้องยาผู้ป่วยนอก มภร.4,ชั้น 4 อาคารมภร. โรงพยาบาลตำรวจ,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,both,both
20,HPT03,ห้องยา ประกันสังคม,ชั้น 1 ตึกสูตินรีเวช โรงพยาบาลตำรวจ,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,both,both
21,HPT04,ห้องยาผู้ป่วยใน,ชั้น 1 อาคารมภร. โรงพยาบาลตำรวจ,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,both,both

In [68]:
# แก้ sex_require1, sex_require2 เป็น 'both' ถ้า code ขึ้นต้นด้วย 'FCN'
for i, row in df.iterrows():
    if str(row['code']).startswith('FCN'):
        df.at[i, 'sex_require1'] = 'both'
        df.at[i, 'sex_require2'] = 'both'
df

,code,branch,address,female1,male1,both1,seat1,female2,male2,both2,seat2,sex_require1,sex_require2
0,CEN01,6 สโมสรวัฒนธรรมหญิง,426 ถนนพิษณุโลก แขวงสี่แยกมหานาค เขตดุสิต กรุง...,-,-,/,2.0,=,-,/,2,both,both
1,CEN02,7 บุญมี ปุรุราชรังสรรค์,663 ถนนสาธุประดิษฐ์(55-57) แขวงบางโพงพาง เขตยา...,-,-,/,2.0,-,-,-,NaN,both,None
2,CEN03,19 วงศ์สว่าง,NaN,-,/,NaN,1.0,-,/,-,1,male,male
3,CEN04,20 ป้อมปราบศัตรูพ่าย,245 247 249 ถนนนครสวรรค์ แขวงวัดโสมนัส เขตป้อม...,-,-,NaN,NaN,-,-,/,2,None,both
4,CEN05,23 สี่พระยา,NaN,-,/,-,1.0,-,/,NaN,1,male,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,FCN93,คาลเท็กซ์ ธัญบุรี-รังสิต (คลอง3),30 หมู่ 2 ถ.รังสิต-นครนายก ต.บึงยี่โถ อ.ธัญบ...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,both,both
241,FCN94,เดอะพร้อม ดินแดง,เลขที่ 4755 ห้องเลขที่ R104 ชั้นที่ 1 ถนนประช...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1,both,both
242,FCN95,บิ๊กซี กรีนเวลท์ พระราม 2,เลขที่ 282 ห้องเลขที่ 115 ถนนพระรามที่ 2 แขวง...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1,both,both
243,FCN96,ศิริราช,171 ถ.พรานนก แขวงศิริราช เขตบางกอกน้อย กรุง...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,2,both,both
244,FCN97,พัทยา,8/154 หมู่ 6 ถ.พัทยาเหนือ ตำบลนาเกลือ อำเภอบาง...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4,both,both

In [69]:
df = df.replace("-", None)
df.iloc[17]

code                                                        CEN18
branch                                                67 ทวีวัฒนา
address         3 ถนนอุทยาน แขวงทวีวัฒนา เขตทวีวัฒนา กรุงเทพฯ ...
female1                                                      None
male1                                                           /
both1                                                         NaN
seat1                                                         1.0
female2                                                      None
male2                                                        None
both2                                                        None
seat2                                                        None
sex_require1                                                 male
sex_require2                                                 None
Name: 17, dtype: object

In [73]:
df.loc[2, 'address'] = '675 ถ.วงศ์สว่าง แขวงบางซื่อ เขตบางซื่อ กรุงเทพมหานคร 10800'
df.loc[4, 'address'] = '383/4 ถ.สี่พระยา แขวงสี่พระยา เขตบางรัก กรุงเทพมหานคร 10500'
df.loc[7, 'address'] = '4 ซ.รามคำแหง 40 ถ.รามคำแหง แขวงหัวหมาก เขตบางกะปิ กรุงเทพมหานคร 10240'
df.loc[10, 'address'] = '46 ถ.ราษฎร์บูรณะ แขวงราษฎร์บูรณะ เขตราษฎร์บูรณะ กรุงเทพมหานคร 10140'
df.loc[12, 'address'] = '40 ถ.เลียบคลอง ภาษีเจริญฝั่งเหนือ แขวงหนองแขม เขตหนองแขม กรุงเทพมหานคร 10162'
df.loc[14, 'address'] = '27/4 ถ.พระราม3 แขวงช่องนนทรี เขตยานนาวา กรุงเทพมหานคร 10120'

In [74]:
df_to_csv = df[['code','branch','address','sex_require1','seat1','sex_require2','seat2']]
to_csv_path = './to_csv.csv'
df_to_csv.to_csv(to_csv_path)
# สำหรับเอาไปใส่พิกัดสถานที่

In [12]:
df = df[['code','branch','sex_require1','seat1','sex_require2','seat2']]
df

,code,branch,sex_require1,seat1,sex_require2,seat2
0,CEN01,6 สโมสรวัฒนธรรมหญิง,both,2.0,both,2
1,CEN02,7 บุญมี ปุรุราชรังสรรค์,both,2.0,None,NaN
2,CEN03,19 วงศ์สว่าง,male,1.0,male,1
3,CEN04,20 ป้อมปราบศัตรูพ่าย,None,NaN,both,2
4,CEN05,23 สี่พระยา,male,1.0,male,1
...,...,...,...,...,...,...
240,FCN93,คาลเท็กซ์ ธัญบุรี-รังสิต (คลอง3),both,2.0,both,2
241,FCN94,เดอะพร้อม ดินแดง,both,1.0,both,1
242,FCN95,บิ๊กซี กรีนเวลท์ พระราม 2,both,1.0,both,1
243,FCN96,ศิริราช,both,2.0,both,2
244,FCN97,พัทยา,both,4.0,both,4

In [13]:
output_path = 'drugstore_path.csv'
df.to_csv(output_path, index=False)

In [14]:
df['code'].unique().tolist()

['CEN01',
 'CEN02',
 'CEN03',
 'CEN04',
 'CEN05',
 'CEN06',
 'CEN07',
 'CEN08',
 'CEN09',
 'CEN10',
 'CEN11',
 'CEN12',
 'CEN13',
 'CEN14',
 'CEN15',
 'CEN16',
 'CEN17',
 'CEN18',
 'HPT01',
 'HPT02',
 'HPT03',
 'HPT04',
 'CHA01',
 'BKK01',
 'BKK02',
 'BKK03',
 'BKK04',
 'BKK05',
 'BKK06',
 'BKK07',
 'BKK08',
 'BKK09',
 'BKK10',
 'BKK11',
 'BKK12',
 'BKK13',
 'BKK14',
 'BKK15',
 'BKK16',
 'BKK17',
 'BKK18',
 'BKK19',
 'BKK20',
 'BKK21',
 'BKK22',
 'BKK23',
 'BKK24',
 'BKK25',
 'BKK26',
 'BKK27',
 'BKK28',
 'BKK29',
 'BKK30',
 'BKK31',
 'BKK32',
 'BKK33',
 'BKK34',
 'BKK35',
 'BKK36',
 'BKK37',
 'BKK38',
 'BKK39',
 'BKK40',
 'BKK41',
 'BKK42',
 'BKK43',
 'BKK44',
 'PUR01',
 'PUR02',
 'PUR03',
 'PUR04',
 'PUR05',
 'PUR06',
 'PUR07',
 'PUR08',
 'PUR09',
 'PUR10',
 'PUR11',
 'PUR12',
 'PUR13',
 'PUR14',
 'PUR15',
 'PUR16',
 'PUR17',
 'PUR18',
 'PUR19',
 'PUR20',
 'PUR21',
 'PUR22',
 'PUR23',
 'PUR24',
 'PUR25',
 'PUR26',
 'PUR27',
 'PUR28',
 'PUR29',
 'PUR30',
 'PUR31',
 'PUR32',
 'PUR33',
 'PUR34',
 'PUR35',
 'PUR36',
 'PUR37',
 'PUR38',
 'PUR39',
 'PUR40',
 'PUR41',
 'PUR42',
 'PUR43',
 'PUR44',
 'PUR45',
 'PUR46',
 'PUR47',
 'PUR48',
 'PUR49',
 'PUR50',
 'PUR51',
 'PUR52',
 'PUR53',
 'PUR54',
 'BTS01',
 'BTS02',
 'BTS03',
 'BTS04',
 'BTS05',
 'BTS06',
 'BTS07',
 'BTS08',
 'BTS09',
 'BTS10',
 'BTS11',
 'BTS12',
 'BTS13',
 'BTS14',
 'BTS15',
 'BTS16',
 'BTS17',
 'BTS18',
 'BTS19',
 'BTS20',
 'BTS21',
 'BTS22',
 'BTS23',
 'BTS24',
 'BTS25',
 'BTS26',
 'BTS27',
 'FCN01',
 'FCN02',
 'FCN03',
 'FCN04',
 'FCN05',
 'FCN06',
 'FCN07',
 'FCN08',
 'FCN09',
 'FCN10',
 'FCN11',
 'FCN12',
 'FCN13',
 'FCN14',
 'FCN15',
 'FCN16',
 'FCN17',
 'FCN18',
 'FCN19',
 'FCN20',
 'FCN21',
 'FCN22',
 'FCN23',
 'FCN24',
 'FCN25',
 'FCN26',
 'FCN27',
 'FCN28',
 'FCN29',
 'FCN30',
 'FCN31',
 'FCN32',
 'FCN33',
 'FCN34',
 'FCN35',
 'FCN36',
 'FCN37',
 'FCN38',
 'FCN39',
 'FCN40',
 'FCN41',
 'FCN42',
 'FCN43',
 'FCN44',
 'FCN45',
 'FCN46',
 'FCN47',
 'FCN48',
 'FCN49',
 'FCN50',
 'FCN51',
 'FCN52',
 'FCN53',
 'FCN54',
 'FCN55',
 'FCN56',
 'FCN57',
 'FCN58',
 'FCN59',
 'FCN60',
 'FCN61',
 'FCN62',
 'FCN63',
 'FCN64',
 'FCN65',
 'FCN66',
 'FCN67',
 'FCN68',
 'FCN69',
 'FCN70',
 'FCN71',
 'FCN72',
 'FCN73',
 'FCN74',
 'FCN75',
 'FCN76',
 'FCN77',
 'FCN78',
 'FCN79',
 'FCN80',
 'FCN81',
 'FCN82',
 'FCN83',
 'FCN84',
 'FCN85',
 'FCN86',
 'FCN87',
 'FCN88',
 'FCN89',
 'FCN90',
 'FCN91',
 'FCN92',
 'FCN93',
 'FCN94',
 'FCN95',
 'FCN96',
 'FCN97']

In [15]:
df['sex_require1'].unique().tolist()

['both', 'male', None, 'female']

In [16]:
df['sex_require2'].unique().tolist()

['both', None, 'male']

In [17]:
# รวม seat1/seat2
seat1_sum = pd.to_numeric(df['seat1'], errors='coerce').fillna(0).astype(int).sum()
seat2_sum = pd.to_numeric(df['seat2'], errors='coerce').fillna(0).astype(int).sum()
print(f"Seat 1st shift: {seat1_sum}")
print(f"Seat 2nd shift: {seat2_sum}")

Seat 1st shift: 299
Seat 2nd shift: 299

In [18]:
df[0:18]

     code                        branch sex_require1  seat1 sex_require2 seat2
0   CEN01           6 สโมสรวัฒนธรรมหญิง         both    2.0         both     2
1   CEN02       7 บุญมี ปุรุราชรังสรรค์         both    2.0         None   NaN
2   CEN03                  19 วงศ์สว่าง         male    1.0         male     1
3   CEN04          20 ป้อมปราบศัตรูพ่าย         None    NaN         both     2
4   CEN05                   23 สี่พระยา         male    1.0         male     1
5   CEN06                     24 บางเขน         both    1.0         both     1
6   CEN07                   25 ห้วยขวาง         both    2.0         None   NaN
7   CEN08                    35 หัวหมาก         None    NaN         both     2
8   CEN09   37 ประสงค์-สุดสาคร ตู้จินดา         both    2.0         both     2
9   CEN10          38 จี๊ด-ทองคำ บำเพ็ญ         None    NaN         both     2
10  CEN11                39 ราษฎร์บูรณะ       female    2.0         male     2
11  CEN12                   47 คลองขวาง         None    NaN         both     2
12  CEN13              48 นาควัชระอุทิศ         male    1.0         None   NaN
13  CEN14                53 ทุ่งสองห้อง         both    2.0         both     2
14  CEN15               55 เตชะสัมพันธ์         both    2.0         None   NaN
15  CEN16           61 สังวาล ทัสนารมย์         None    NaN         both     2
16  CEN17  63 สมาคมแต้จิ๋วแห่งประเทศไทย         both    2.0         None   NaN
17  CEN18                   67 ทวีวัฒนา         male    1.0         None  None